body{
	background-color:black;
}

#gameBoard{
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content:center;
	width:600px;
	height:600px;
	
	margin-left:auto; 
	margin-right:auto;
}

#gameBoard div {
	background-color:#00EE00;
}

/**Enemy**/
.enemyDown{
	background-image:url("images/enemydown.png"); 
}

.enemyLeft{
	background-image:url("images/enemyleft.png"); 
}

.enemyRight{
	background-image:url("images/enemyright.png"); 
}

.enemyUp{
	background-image:url("images/enemyup.png"); 
}
/**Fence**/
.fenceSide{
	background-image:url("images/fenceside.png");
}

.fenceUp{
	background-image:url("images/fenceup.png");
}

.flag{
	background-image:url("images/flag.png");
}

/**Motorcycle**/
.motorcycleDown{
	background-image:url("images/motorcycledown.png");
}

.motorcycleLeft{
	background-image:url("images/motorcycleleft.png");
}

.motorcycleRight{
	background-image:url("images/motorcycleright.png");
}

.motorcycleUp{
	background-image:url("images/motorcycleup.png");
}

/**Motorcycle Fence**/
.motorcycleFenceDown{
	background-image:url("images/motorcyclefencedown.png");
}

.motorcycleFenceUp{
	background-image:url("images/motorcyclefenceup.png");
}

.motorcycleFenceRight{
	background-image:url("images/motorcyclefenceright.png");
}

.motorcycleFenceLeft{
	background-image:url("images/motorcyclefenceleft.png");
}

 /**Passenger**/
.passenger{
	background-image:url("images/passenger.png");
}

.passengerDown{
	background-image:url("images/passengerdown.png");
}

.passengerLeft{
	background-image:url("images/passengerleft.png");
}

.passengerRight{
	background-image:url("images/passengerright.png");
}

.passengerUp{
	background-image:url("images/passengerup.png");
}

/**Enviroment**/
.rock{
	background-image:url("images/rock.png");
}

.water{
	background-image:url("images/water.jpg");
}

.tree{
	background-image:url("images/tree.png");
}








.bridge {
	background-color:#800020 !important;
}

 