body{
	background-color:black;
}

#gameBoard{
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content:center;
	width:600px;
	height:600px;
	
	margin-left:auto; 
	margin-right:auto;
}

#gameBoard div {
	background-color:#00EE00;
}

/**Enemy**/
.enemyDown{
	background-image:url("Images/enemydown.png"); 
}

.enemyLeft{
	background-image:url("Images/enemyleft.png"); 
}

.enemyRight{
	background-image:url("Images/enemyright.png"); 
}

.enemyUp{
	background-image:url("Images/enemyup.png"); 
}
/**Fence**/
.fenceSide{
	background-image:url("Images/fenceside.png");
}

.fenceUp{
	background-image:url("Images/fenceup.png");
}

.flag{
	background-image:url("Images/flag.png");
}

/**Motorcycle**/
.motorcycledown{
	background-image:url("Images/motorcycledown.png");
}

.motorcycleleft{
	background-image:url("Images/motorcycleleft.png");
}

.motorcycleright{
	background-image:url("Images/motorcycleright.png");
}

.motorcycleup{
	background-image:url("Images/motorcycleup.png");
}

/**Motorcycle Fence**/
.motorcycleFenceDown{
	background-image:url("Images/motorcyclefencedown.png");
}

.motorcycleFenceUp{
	background-image:url("Images/motorcyclefenceup.png");
}

.motorcycleFenceRight{
	background-image:url("Images/motorcyclefenceright.png");
}

.motorcycleFenceLeft{
	background-image:url("Images/motorcyclefenceleft.png");
}

 /**Passenger**/
.passenger{
	background-image:url("Images/passenger.png");
}

.passengerdown{
	background-image:url("Images/passengerdown.png");
}

.passengerleft{
	background-image:url("Images/passengerleft.png");
}

.passengerright{
	background-image:url("Images/passengerright.png");
}

.passengerup{
	background-image:url("Images/passengerup.png");
}

/**Enviroment**/
.rock{
	background-image:url("Images/rock.png");
}

.water{
	background-image:url("Images/water.jpg");
}

.tree{
	background-image:url("Images/tree.png");
}

.bridge {
	background-color:#800020 !important;
}


.message{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-family:Verdana,sans serif;
	font-size:8em;
	vertical-align:top;
	text-align:center;
	line-height:100vh;
}

 