body{
	background-color:black;
}

#gameBoard{
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content:center;
	width:600px;
	height:600px;
	
	margin-left:auto; 
	margin-right:auto;
}

#gameBoard div {
	background-color:#00EE00;
}

/**Enemy**/
.enemyDown{
	background-image:url("Images/enemydown.png"); 
}

.enemyLeft{
	background-image:url("Images/enemyleft.png"); 
}

.enemyRight{
	background-image:url("Images/enemyright.png"); 
}

.enemyUp{
	background-image:url("Images/enemyup.png"); 
}
/**Fence**/
.fenceSide{
	background-image:url("Images/fenceside.png");
}

.fenceUp{
	background-image:url("Images/fenceup.png");
}

.flag{
	background-image:url("Images/flag.png");
}

/**Motorcycle**/
.motorcycleDown{
	background-image:url("Images/motorcycledown.png");
}

.motorcycleLeft{
	background-image:url("Images/motorcycleleft.png");
}

.motorcycleRight{
	background-image:url("Images/motorcycleright.png");
}

.motorcycleUp{
	background-image:url("Images/motorcycleup.png");
}

/**Motorcycle Fence**/
.motorcycleFenceDown{
	background-image:url("Images/motorcyclefencedown.png");
}

.motorcycleFenceUp{
	background-image:url("Images/motorcyclefenceup.png");
}

.motorcycleFenceRight{
	background-image:url("Images/motorcyclefenceright.png");
}

.motorcycleFenceLeft{
	background-image:url("Images/motorcyclefenceleft.png");
}

 /**Passenger**/
.passenger{
	background-image:url("Images/passenger.png");
}

.passengerDown{
	background-image:url("Images/passengerdown.png");
}

.passengerLeft{
	background-image:url("Images/passengerleft.png");
}

.passengerRight{
	background-image:url("Images/passengerright.png");
}

.passengerUp{
	background-image:url("Images/passengerup.png");
}

/**Enviroment**/
.rock{
	background-image:url("Images/rock.png");
}

.water{
	background-image:url("Images/water.jpg");
}

.tree{
	background-image:url("Images/tree.png");
}








.bridge {
	background-color:#800020 !important;
}

 